{{>licenseInfo}}

package {{apiPackage}}

import retrofit2.http.DELETE
import retrofit2.http.GET
import retrofit2.http.Header
import retrofit2.http.POST
import retrofit2.http.PUT
{{#imports}}import {{import}}
{{/imports}}

{{#operations}}
interface {{classname}} {
    {{#operation}}
    {{#contents}}
    /**
     * {{summary}}
     * {{notes}}
    {{#parameters}} * @param {{paramName}} {{description}} {{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
    {{/parameters}} * @return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}
     */{{#returnType}}
    {{/returnType}}
    {{#authMethods}}{{#isApiKey}}{{#isKeyInHeader}}@{{packageName}}.{{vendorExtensions.x-security-camel-case-name}}Auth{{/isKeyInHeader}}{{/isApiKey}}{{#isBearer}}@{{packageName}}.BearerAuthRequest{{/isBearer}}{{#isBasic}}@{{packageName}}.BasicAuthRequest{{/isBasic}}{{/authMethods}}
    @{{httpMethod}}("{{{path}}}")
    suspend fun {{operationId}}({{#parameters}}
        {{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{#hasMore}},{{/hasMore}}{{/parameters}}
    ): {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Unit{{/returnType}}

    {{/contents}}
    {{/operation}}
}
{{/operations}}