{{>licenseInfo}}
package {{packageName}}

import com.squareup.moshi.Moshi
{{#each enumAdaptersImports}}
import {{.}}
{{/each}}

fun Moshi.Builder.addGeneratedEnumJsonAdapters(): Moshi.Builder = this
        .add(GeneratedDateAdapter())
{{#each enumAdapters}}
        .add({{.}}())
{{/each}}
